body {
    font-family: Arial;
    background: #eee;
}

.resume {
    width: 600px;
    margin: 30px auto;
    padding: 30px;
    background: white;
}

h1 {
    color: #222;
}

h2 {
    color: #0077cc;
    border-bottom: 1px solid #ddd;
}
